[Unit]
Description=com.atiskr.rust-ssh-mailer service
After=network.target

[Service]
Environment=SLACK_TOKEN={{ slack_token }}
Environment=SLACK_CHANNEL={{ slack_channel }}
Environment=SLACK_USER={{ slack_user }}
Type=simple
User={{ user }}
ExecStart="{{ exec_start }}"
Restart=on-failure
StandardOutput="/var/log/syslog"
StandardError="/var/log/syslog"

[Install]
WantedBy=multi-user.target